@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.pin canvas {
  border-radius: 0.5rem;
}

.pin .blurhash {
  position: absolute !important;
}
